<div class="layout">
    <div class="container">
        <div class="row dash_sty">
            <mat-card class="bg-grey mb-0" style="margin-bottom: 0px !important;">
                <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
                    style="margin-bottom: 0px !important;">

                    <div fxFlex.sm="70%" fxFlex.md="70%" fxFlex.gt-md="70%" class="search">
                        <mat-form-field appearance="outline" class="w-90">
                            <input matInput placeholder="Employee No" />
                        </mat-form-field>
                    </div>

                </div>

                <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px"
                    style="margin-bottom: 0px !important;">
                    <div fxFlex.sm="50%" fxFlex.md="20%" fxFlex.gt-md="15%" class="search">
                        <button mat-flat-button class="bg-black custom-btn">Search</button>
                    </div>

                    <div fxFlex.sm="50%" fxFlex.md="20%" fxFlex.gt-md="15%" class="search">
                        <button mat-stroked-button class="custom-btn">RESET</button>
                    </div>
                </div>


            </mat-card>


            <br>
        </div>
    </div>
</div>